* {
  font-family: raleway;
  font-weight: light 300;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

input::placeholder {
  font-size: 1.2em;
}

.header {
  background-color: #404041;
  text-align: center;
  width: 100%;
}

.title-one {
  color: #ED458B;
}
.title-two {
  font-weight: normal;
  color: #E6E7E8;
}

.title-one,
.title-two {
  display: inline-block;
  font-size: 8.9em;
  margin: 0;
  line-height: 1;
}

.main {
  margin: auto;
  text-align: center;
  width: 50%;
}

.input {
  font-size: 1.5em;
  width: 99%;
}

.input,
.choose-min,
.choose-max {
  margin: 40px 0 40px 0;
}
.width-100 {
  width: 100%;
}

.guess-button,
.clear-button,
.choose-min,
.choose-max {
  padding: 0;
  width: 45%;
}

.choose-min {
  margin-right: 4%;
}

.choose-max {
  margin-left: 4%;
}

.choose-min,
.choose-max {
  font-size: 1.5em;
}

.choose-min:placeholder,
.choose-max:placholder{
  font-size: 1.5em;
}

.guess-button {
  margin-right: 4.65%;
}

.clear-button {
  margin-left: 4.65%;
}

.reset-button {
  margin-bottom: 80px;
}

.height {
  height: 50px;
}

.border-radius {
  border-radius: 5%/50%;
}

.border-radius2 {
  border-radius: 2%/50%;
}

.button-font {
  font-size: 1.8em;
}

.button-color {
    background-color: #929497;
    color: #FFF
}

.button-color:hover {
  background-color: #EB008B;
}

.button-color:disabled {
  background-color: #D0D2D3;
}

.number-color {
  color: #EB008B;
}

.last-guess-text,
.guess-details-display {
  font-size: 2em;
}

.last-guess-text {
  margin-bottom: 0;
}

.guess-details-display {
  margin-top: 0;
}

.number-display {
  color: #D83189;
  font-size: 15em;
  margin: 0;
}

