html, body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #404041;
}

.title-one {
  color: #ED458B;
}
.title-two {
  font-weight: normal;
  color: #E6E7E8;
}

.title-one,
.title-two {
  display: inline-block;
  margin: 0;
  font-size: 2.9em;
}

.main,
.header,
.footer {
  width: 50%;
  margin: auto;
  text-align: center;
}

.input {
  display: block;
  width: 98%}

.guess-button,
.clear-button {
  padding: 0;
  width: 46%;
}

.guess-button,
.choose-min {
  margin-right: 12px;
}

.clear-button,
.choose-max {
  margin-left: 12px;
}

.reset-button {
  width: 100%;
}

.button-color {
    background-color: #929497;
}

.button-color:hover {
  background-color: #EB008B;
}

.class:disabled {
  
}

.number-color {
  color: #EB008B;
}

.number-display {
  color: #D83189;
}

.cyoa-button {
  display: block;
  width: 100%;
  text-align: center;
}

.cyoa-input {
  width: 45%;
}
